In [1]:
# import the dependencies

import os
import pandas as pd

# Import SQL Alchemy
from sqlalchemy import create_engine

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, ForeignKey
from sqlalchemy.orm import relationship

In [2]:
# Pull in our GCHN_archive class

In [3]:
import GHCN_archive as GHCN

In [4]:
ghcn = GHCN.GHCN_archive()

Checking: static\src\ghcnd_all.tar.gz
Checking: static\src\ghcnd-version.txt
Checking: static\src\ghcnd-stations.txt
Checking: static\src\ghcnd-inventory.txt
Checking: static\src\ghcnd-countries.txt
Checking: static\src\ghcnd-states.txt
Version found: 3.27-upd-2019081018

In [5]:
ghcn.list_files()

ghcnd-countries.txt
ghcnd-inventory.txt
ghcnd-states.txt
ghcnd-stations.txt
ghcnd-version.txt
ghcnd_all
ghcnd_all.tar.gz
US1MNAA0002.dly
USW00014925.dly
USW00014992.dly
USW00094960.dly

In [6]:
ghcn.files

{'GHCN_TGZ': 'ghcnd_all.tar.gz',
 'GHCN_VERSION': 'ghcnd-version.txt',
 'GHCN_STATIONS': 'ghcnd-stations.txt',
 'GHCN_INVENTORY': 'ghcnd-inventory.txt',
 'GHCN_COUNTRIES': 'ghcnd-countries.txt',
 'GHCN_STATES': 'ghcnd-states.txt',
 'GHCN_DAILY': 'static\\src\\ghcnd_all'}

In [7]:
ghcn.path

'static\\src'

In [8]:
# How to access the files of our archive
print(os.path.join(ghcn.path, ghcn.files['GHCN_INVENTORY']))

static\src\ghcnd-inventory.txt

In [9]:
# Create the database directory
DATABASE_DIRECTORY = os.path.join("static", "data")
DATABASE_FILE = "ghcn.db"
if not os.path.exists(DATABASE_DIRECTORY):
    os.makedirs(DATABASE_DIRECTORY)
    
DATABASE_PATH = os.path.join(DATABASE_DIRECTORY, DATABASE_FILE)

In [10]:
# Create a connection to a SQLite database
engine = create_engine(f'sqlite:///{DATABASE_PATH}')

In [11]:
print(engine)

Engine(sqlite:///static\data\ghcn.db)

# Declare the classes

In [12]:
class Countries(Base):
    __tablename__ = 'countries'
    fips = Column(String, primary_key=True)
    name = Column(String)
    
class States(Base):
    __tablename__ = 'states'
    fips = Column(String, primary_key=True)
    name = Column(String)

class Stations(Base):
    __tablename__ = 'stations'
    station_id = Column(String, primary_key=True)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    country_id = Column(String, ForeignKey('countries.fips'))
    state_id = Column(String, ForeignKey('states.fips'))
    name = Column(String)
    gsn = Column(String)
    hcn = Column(String)
    wmo = Column(Integer)
    
    country = relationship('Countries', foreign_keys=[country_id])
    state = relationship('States', foreign_keys=[state_id])

# Create the Inventory class
class Inventory(Base):
    __tablename__ = 'inventory'
    id = Column(Integer, primary_key=True)
    station_id = Column(String(12), ForeignKey('stations.station_id'))
    element = Column(String(6))
    first_year = Column(Integer)
    last_year = Column(Integer)
    
    station = relationship('Stations', foreign_keys=[station_id])

In [13]:
# Create the four tables within the database
Base.metadata.create_all(engine)

# First fill the Countries table

V. FORMAT OF "ghcnd-countries.txt"

------------------------------
Variable   Columns   Type
------------------------------
CODE          1-2    Character
NAME         4-50    Character
------------------------------

In [14]:
countries_file = os.path.join(ghcn.path, ghcn.files['GHCN_COUNTRIES'])
countries_colspecs = [(0, 3), (3, 50)]
countries_colnames = ['fips', 'name']

countries_df = pd.read_fwf(countries_file, colspecs=countries_colspecs,
                          names=countries_colnames)
countries_df.head()

  fips                  name
0   AC   Antigua and Barbuda
1   AE  United Arab Emirates
2   AF           Afghanistan
3   AG               Algeria
4   AJ            Azerbaijan

In [15]:
# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [16]:
# Iterate over the rows and add to the table
for row in countries_df.itertuples():
    country = Countries(fips=row.fips, name=row.name)
    session.add(country)
    session.commit()

In [18]:
items = session.query(Countries)
for item in items:
    print(f"fips: {item.fips}, name: {item.name}")

fips: AC, name: Antigua and Barbuda
fips: AE, name: United Arab Emirates
fips: AF, name: Afghanistan
fips: AG, name: Algeria
fips: AJ, name: Azerbaijan
fips: AL, name: Albania
fips: AM, name: Armenia
fips: AO, name: Angola
fips: AQ, name: American Samoa [United States]
fips: AR, name: Argentina
fips: AS, name: Australia
fips: AU, name: Austria
fips: AY, name: Antarctica
fips: BA, name: Bahrain
fips: BB, name: Barbados
fips: BC, name: Botswana
fips: BD, name: Bermuda [United Kingdom]
fips: BE, name: Belgium
fips: BF, name: Bahamas, The
fips: BG, name: Bangladesh
fips: BH, name: Belize
fips: BK, name: Bosnia and Herzegovina
fips: BL, name: Bolivia
fips: BM, name: Burma
fips: BN, name: Benin
fips: BO, name: Belarus
fips: BP, name: Solomon Islands
fips: BR, name: Brazil
fips: BU, name: Bulgaria
fips: BX, name: Brunei
fips: BY, name: Burundi
fips: CA, name: Canada
fips: CB, name: Cambodia
fips: CD, name: Chad
fips: CE, name: Sri Lanka
fips: CF, name: Congo (Brazzaville)
fips: CG, name: Congo (Kinshasa)
fips: CH, name: China
fips: CI, name: Chile
fips: CJ, name: Cayman Islands [United Kingdom]
fips: CK, name: Cocos (Keeling) Islands [Australia]
fips: CM, name: Cameroon
fips: CO, name: Colombia
fips: CQ, name: Northern Mariana Islands [United States]
fips: CS, name: Costa Rica
fips: CT, name: Central African Republic
fips: CU, name: Cuba
fips: CV, name: Cape Verde
fips: CW, name: Cook Islands [New Zealand]
fips: CY, name: Cyprus
fips: DA, name: Denmark
fips: DO, name: Dominica
fips: DR, name: Dominican Republic
fips: EC, name: Ecuador
fips: EG, name: Egypt
fips: EI, name: Ireland
fips: EK, name: Equatorial Guinea
fips: EN, name: Estonia
fips: ER, name: Eritrea
fips: ES, name: El Salvador
fips: ET, name: Ethiopia
fips: EU, name: Europa Island [France]
fips: EZ, name: Czech Republic
fips: FG, name: French Guiana [France]
fips: FI, name: Finland
fips: FJ, name: Fiji
fips: FK, name: Falkland Islands (Islas Malvinas) [United Kingd
fips: FM, name: Federated States of Micronesia
fips: FP, name: French Polynesia
fips: FR, name: France
fips: FS, name: French Southern and Antarctic Lands [France]
fips: GA, name: Gambia, The
fips: GB, name: Gabon
fips: GG, name: Georgia
fips: GH, name: Ghana
fips: GI, name: Gibraltar [United Kingdom]
fips: GL, name: Greenland [Denmark]
fips: GM, name: Germany
fips: GP, name: Guadeloupe [France]
fips: GQ, name: Guam [United States]
fips: GR, name: Greece
fips: GT, name: Guatemala
fips: GV, name: Guinea
fips: GY, name: Guyana
fips: HO, name: Honduras
fips: HR, name: Croatia
fips: HU, name: Hungary
fips: IC, name: Iceland
fips: ID, name: Indonesia
fips: IN, name: India
fips: IO, name: British Indian Ocean Territory [United Kingdom]
fips: IR, name: Iran
fips: IS, name: Israel
fips: IT, name: Italy
fips: IV, name: Cote D'Ivoire
fips: IZ, name: Iraq
fips: JA, name: Japan
fips: JM, name: Jamaica
fips: JN, name: Jan Mayen [Norway]
fips: JO, name: Jordan
fips: JQ, name: Johnston Atoll [United States]
fips: JU, name: Juan De Nova Island [France]
fips: KE, name: Kenya
fips: KG, name: Kyrgyzstan
fips: KN, name: Korea, North
fips: KR, name: Kiribati
fips: KS, name: Korea, South
fips: KT, name: Christmas Island [Australia]
fips: KU, name: Kuwait
fips: KZ, name: Kazakhstan
fips: LA, name: Laos
fips: LE, name: Lebanon
fips: LG, name: Latvia
fips: LH, name: Lithuania
fips: LI, name: Liberia
fips: LO, name: Slovakia
fips: LQ, name: Palmyra Atoll [United States]
fips: LT, name: Lesotho
fips: LU, name: Luxembourg
fips: LY, name: Libya
fips: MA, name: Madagascar
fips: MB, name: Martinique [France]
fips: MC, name: Macau S.A.R
fips: MD, name: Moldova
fips: MF, name: Mayotte [France]
fips: MG, name: Mongolia
fips: MI, name: Malawi
fips: MJ, name: Montenegro
fips: MK, name: Macedonia
fips: ML, name: Mali
fips: MO, name: Morocco
fips: MP, name: Mauritius
fips: MQ, name: Midway Islands [United States}
fips: MR, name: Mauritania
fips: MT, name: Malta
fips: MU, name: Oman
fips: MV, name: Maldives
fips: MX, name: Mexico
fips: MY, name: Malaysia
fips: MZ, name: Mozambique
fips: NC, name: New Caledonia [France]
fips: NE, name: Niue [New Zealand]
fips: NF, name: Norfolk Island [Australia]
fips: NG, name: Niger
fips: NH, name: Vanuatu
fips: NI, name: Nigeria
fips: NL, name: Netherlands
fips: NN, name: Sint Maarten
fips: NO, name: Norway
fips: NP, name: Nepal
fips: NS, name: Suriname
fips: NU, name: Nicaragua
fips: NZ, name: New Zealand
fips: PA, name: Paraguay
fips: PC, name: Pitcairn Islands [United Kingdom]
fips: PE, name: Peru
fips: PK, name: Pakistan
fips: PL, name: Poland
fips: PM, name: Panama
fips: PO, name: Portugal
fips: PP, name: Papua New Guinea
fips: PS, name: Palau
fips: PU, name: Guinea-Bissau
fips: QA, name: Qatar
fips: RE, name: Reunion [France]
fips: RI, name: Serbia
fips: RM, name: Marshall Islands
fips: RO, name: Romania
fips: RP, name: Philippines
fips: RQ, name: Puerto Rico [United States]
fips: RS, name: Russia
fips: RW, name: Rwanda
fips: SA, name: Saudi Arabia
fips: SB, name: Saint Pierre and Miquelon [France]
fips: SE, name: Seychelles
fips: SF, name: South Africa
fips: SG, name: Senegal
fips: SH, name: Saint Helena [United Kingdom]
fips: SI, name: Slovenia
fips: SL, name: Sierra Leone
fips: SN, name: Singapore
fips: SP, name: Spain
fips: ST, name: Saint Lucia
fips: SU, name: Sudan
fips: SV, name: Svalbard [Norway]
fips: SW, name: Sweden
fips: SX, name: South Georgia and the South Sandwich Islands [U
fips: SY, name: Syria
fips: SZ, name: Switzerland
fips: TD, name: Trinidad and Tobago
fips: TE, name: Tromelin Island [France]
fips: TH, name: Thailand
fips: TI, name: Tajikistan
fips: TL, name: Tokelau [New Zealand]
fips: TN, name: Tonga
fips: TO, name: Togo
fips: TS, name: Tunisia
fips: TU, name: Turkey
fips: TV, name: Tuvalu
fips: TX, name: Turkmenistan
fips: TZ, name: Tanzania
fips: UC, name: Curacao
fips: UG, name: Uganda
fips: UK, name: United Kingdom
fips: UP, name: Ukraine
fips: US, name: United States
fips: UV, name: Burkina Faso
fips: UY, name: Uruguay
fips: UZ, name: Uzbekistan
fips: VE, name: Venezuela
fips: VM, name: Vietnam
fips: VQ, name: Virgin Islands [United States]
fips: WA, name: Namibia
fips: WF, name: Wallis and Futuna [France]
fips: WI, name: Western Sahara
fips: WQ, name: Wake Island [United States]
fips: WZ, name: Swaziland
fips: ZA, name: Zambia
fips: ZI, name: Zimbabwe

# Fill the States Table

VI. FORMAT OF "ghcnd-states.txt"

------------------------------
Variable   Columns   Type
------------------------------
CODE          1-2    Character
NAME         4-50    Character
------------------------------

In [19]:
states_file = os.path.join(ghcn.path, ghcn.files['GHCN_STATES'])
states_colspecs = [(0, 3), (3, 50)]
states_colnames = ['fips', 'name']

states_df = pd.read_fwf(states_file, colspecs=states_colspecs,
                          names=states_colnames)
states_df.head()

  fips            name
0   AB         ALBERTA
1   AK          ALASKA
2   AL         ALABAMA
3   AR        ARKANSAS
4   AS  AMERICAN SAMOA

In [20]:
# Iterate over the rows and add to the table
for row in states_df.itertuples():
    state = States(fips=row.fips, name=row.name)
    session.add(state)
    session.commit()

In [21]:
items = session.query(States)
for item in items:
    print(f"fips: {item.fips}, name: {item.name}")

fips: AB, name: ALBERTA
fips: AK, name: ALASKA
fips: AL, name: ALABAMA
fips: AR, name: ARKANSAS
fips: AS, name: AMERICAN SAMOA
fips: AZ, name: ARIZONA
fips: BC, name: BRITISH COLUMBIA
fips: CA, name: CALIFORNIA
fips: CO, name: COLORADO
fips: CT, name: CONNECTICUT
fips: DC, name: DISTRICT OF COLUMBIA
fips: DE, name: DELAWARE
fips: FL, name: FLORIDA
fips: FM, name: MICRONESIA
fips: GA, name: GEORGIA
fips: GU, name: GUAM
fips: HI, name: HAWAII
fips: IA, name: IOWA
fips: ID, name: IDAHO
fips: IL, name: ILLINOIS
fips: IN, name: INDIANA
fips: KS, name: KANSAS
fips: KY, name: KENTUCKY
fips: LA, name: LOUISIANA
fips: MA, name: MASSACHUSETTS
fips: MB, name: MANITOBA
fips: MD, name: MARYLAND
fips: ME, name: MAINE
fips: MH, name: MARSHALL ISLANDS
fips: MI, name: MICHIGAN
fips: MN, name: MINNESOTA
fips: MO, name: MISSOURI
fips: MP, name: NORTHERN MARIANA ISLANDS
fips: MS, name: MISSISSIPPI
fips: MT, name: MONTANA
fips: NB, name: NEW BRUNSWICK
fips: NC, name: NORTH CAROLINA
fips: ND, name: NORTH DAKOTA
fips: NE, name: NEBRASKA
fips: NH, name: NEW HAMPSHIRE
fips: NJ, name: NEW JERSEY
fips: NL, name: NEWFOUNDLAND AND LABRADOR
fips: NM, name: NEW MEXICO
fips: NS, name: NOVA SCOTIA
fips: NT, name: NORTHWEST TERRITORIES
fips: NU, name: NUNAVUT
fips: NV, name: NEVADA
fips: NY, name: NEW YORK
fips: OH, name: OHIO
fips: OK, name: OKLAHOMA
fips: ON, name: ONTARIO
fips: OR, name: OREGON
fips: PA, name: PENNSYLVANIA
fips: PE, name: PRINCE EDWARD ISLAND
fips: PI, name: PACIFIC ISLANDS
fips: PR, name: PUERTO RICO
fips: PW, name: PALAU
fips: QC, name: QUEBEC
fips: RI, name: RHODE ISLAND
fips: SC, name: SOUTH CAROLINA
fips: SD, name: SOUTH DAKOTA
fips: SK, name: SASKATCHEWAN
fips: TN, name: TENNESSEE
fips: TX, name: TEXAS
fips: UM, name: U.S. MINOR OUTLYING ISLANDS
fips: UT, name: UTAH
fips: VA, name: VIRGINIA
fips: VI, name: VIRGIN ISLANDS
fips: VT, name: VERMONT
fips: WA, name: WASHINGTON
fips: WI, name: WISCONSIN
fips: WV, name: WEST VIRGINIA
fips: WY, name: WYOMING
fips: YT, name: YUKON TERRITORY

# Fill the Stations Table

IV. FORMAT OF "ghcnd-stations.txt"

------------------------------
Variable   Columns   Type
------------------------------
ID            1-11   Character
LATITUDE     13-20   Real
LONGITUDE    22-30   Real
ELEVATION    32-37   Real
STATE        39-40   Character
NAME         42-71   Character
GSN FLAG     73-75   Character
HCN/CRN FLAG 77-79   Character
WMO ID       81-85   Character
------------------------------

In [23]:
stations_file = os.path.join(ghcn.path, ghcn.files['GHCN_STATIONS'])
stations_colspecs = [(0,12),(12,21),(21,31),(31,38),(38,41),(41,72),(72,76),(76,80),(80,86)]
stations_colnames = ["station_id", "latitude", "longitude", "elevation", "state", "name", "gsn_flag", "hcn_crn_flag", "wmo_id"]

stations_df = pd.read_fwf(stations_file, colspecs=stations_colspecs,
                          names=stations_colnames)
stations_df.head()

,station_id,latitude,longitude,elevation,state,name,gsn_flag,hcn_crn_flag,wmo_id
0,ACW00011604,17.1167,-61.7833,10.1,NaN,ST JOHNS COOLIDGE FLD,NaN,NaN,NaN
1,ACW00011647,17.1333,-61.7833,19.2,NaN,ST JOHNS,NaN,NaN,NaN
2,AE000041196,25.3330,55.5170,34.0,NaN,SHARJAH INTER. AIRP,GSN,NaN,41196.0
3,AEM00041194,25.2550,55.3640,10.4,NaN,DUBAI INTL,NaN,NaN,41194.0
4,AEM00041217,24.4330,54.6510,26.8,NaN,ABU DHABI INTL,NaN,NaN,41217.0

In [24]:
def country_id(station_id):
    return station_id[:2]

stations_df['country'] = stations_df['station_id'].map(country_id)
stations_df.head()

,station_id,latitude,longitude,elevation,state,name,gsn_flag,hcn_crn_flag,wmo_id,country
0,ACW00011604,17.1167,-61.7833,10.1,NaN,ST JOHNS COOLIDGE FLD,NaN,NaN,NaN,AC
1,ACW00011647,17.1333,-61.7833,19.2,NaN,ST JOHNS,NaN,NaN,NaN,AC
2,AE000041196,25.3330,55.5170,34.0,NaN,SHARJAH INTER. AIRP,GSN,NaN,41196.0,AE
3,AEM00041194,25.2550,55.3640,10.4,NaN,DUBAI INTL,NaN,NaN,41194.0,AE
4,AEM00041217,24.4330,54.6510,26.8,NaN,ABU DHABI INTL,NaN,NaN,41217.0,AE

In [26]:
# Iterate over the rows and add to the table
for row in stations_df.itertuples():
    station = Stations(station_id = row.station_id,
                       latitude = row.latitude,
                       longitude = row.longitude,
                       elevation = row.elevation,
                       country_id = row.country,
                       state_id = row.state,
                       name = row.name,
                       gsn = row.gsn_flag,
                       hcn = row.hcn_crn_flag,
                       wmo = row.wmo_id)
    session.add(station)
    session.commit()

In [29]:
items = session.query(Stations.station_id, Stations.latitude, Stations.longitude, Stations.name).limit(5).all()
for item in items:
    print(item)

('ACW00011604', 17.1167, -61.7833, 'ST JOHNS COOLIDGE FLD')
('ACW00011647', 17.1333, -61.7833, 'ST JOHNS')
('AE000041196', 25.333, 55.517, 'SHARJAH INTER. AIRP')
('AEM00041194', 25.255, 55.364, 'DUBAI INTL')
('AEM00041217', 24.433, 54.651, 'ABU DHABI INTL')

In [31]:
items = session.query(Stations.station_id, Stations.latitude, Stations.longitude, Stations.name).filter(Stations.state_id == 'MN').all()
print(f"The number of stations in Minnesota: {len(items)}")
for item in items:
    print(item)

The number of stations in Minnesota: 1251
('US1MNAA0002', 45.1947, -93.3257, 'COON RAPIDS 1.5 NNW')
('US1MNAA0003', 45.1962, -93.2755, 'COON RAPIDS 2.2 NE')
('US1MNAA0004', 45.409, -93.309, 'SAINT FRANCIS 4.0 E')
('US1MNAA0005', 45.3846, -93.1553, 'EAST BETHEL 3.1 NE')
('US1MNAA0006', 45.1708, -93.257, 'BLAINE 2.4 W')
('US1MNAA0012', 45.2451, -93.2068, 'HAM LAKE 0.7 SSW')
('US1MNAA0013', 45.1648, -93.2855, 'COON RAPIDS 1.4 ESE')
('US1MNAA0014', 45.2183, -93.2973, 'ANDOVER 3.0 SSE')
('US1MNAA0015', 45.1426, -93.1195, 'LINO LAKES 2.5 SW')
('US1MNAA0016', 45.3712, -93.2115, 'EAST BETHEL 1.1 NNW')
('US1MNAA0017', 45.0598, -93.2408, 'COLUMBIA HEIGHTS 0.9 NNE')
('US1MNAA0018', 45.2854, -93.3438, 'ANDOVER 2.1 NNW')
('US1MNAA0019', 45.189, -93.3719, 'COON RAPIDS 3.2 WNW')
('US1MNAA0020', 45.1646, -93.2072, 'BLAINE 0.4 S')
('US1MNAA0021', 45.2657, -93.2221, 'HAM LAKE 1.2 NW')
('US1MNAA0022', 45.3934, -93.365, 'SAINT FRANCIS 1.3 ESE')
('US1MNAA0023', 45.0847, -93.2648, 'FRIDLEY 0.3 W')
('US1MNAA0024', 45.2415, -93.4604, 'RAMSEY 1.5 SSW')
('US1MNAA0028', 45.176, -93.2226, 'BLAINE 0.8 WNW')
('US1MNAA0029', 45.2158, -93.1691, 'HAM LAKE 3.2 SSE')
('US1MNAA0031', 45.2488, -93.1597, 'HAM LAKE 2.2 E')
('US1MNAA0036', 45.2582, -93.4114, 'RAMSEY 1.9 E')
('US1MNAA0039', 45.0728, -93.2324, 'FRIDLEY 1.8 ESE')
('US1MNAA0040', 45.2387, -93.1892, 'HAM LAKE 1.3 SSE')
('US1MNAA0045', 45.1832, -93.2766, 'COON RAPIDS 1.7 ENE')
('US1MNAA0052', 45.1912, -93.2084, 'BLAINE 1.5 N')
('US1MNAA0054', 45.1947, -93.3749, 'ANOKA 1.3 SSE')
('US1MNAA0056', 45.1984, -93.2281, 'BLAINE 2.2 NNW')
('US1MNAA0057', 45.4006, -93.4002, 'SAINT FRANCIS 0.5 WNW')
('US1MNAA0061', 45.1876, -93.3391, 'COON RAPIDS 1.7 WNW')
('US1MNAA0067', 45.148, -93.1222, 'LINO LAKES 2.4 SW')
('US1MNAA0068', 45.3867, -93.1599, 'EAST BETHEL 3.0 NE')
('US1MNAA0073', 45.3023, -93.4146, 'ANOKA 6.5 N')
('US1MNAA0075', 45.1704, -93.0436, 'CENTERVILLE 0.7 NE')
('US1MNAA0076', 45.3036, -93.4262, 'NOWTHEN 2.9 SSE')
('US1MNAT0001', 46.2052, -93.2494, 'MCGRATH 2.8 SSE')
('US1MNAT0002', 46.995, -93.5971, 'HILL CITY 0.9 N')
('US1MNAT0004', 46.7138, -93.2885, 'MCGREGOR 7.3 N')
('US1MNAT0005', 46.6376, -93.1455, 'TAMARACK 1.4 SW')
('US1MNBK0002', 46.8298, -96.1605, 'LAKE PARK 4.8 SW')
('US1MNBK0003', 46.9583, -95.6551, 'ROCHERT 7.0 NNE')
('US1MNBK0006', 46.7985, -96.1218, 'LAKE PARK 6.0 S')
('US1MNBK0010', 46.8867, -95.8444, 'DETROIT LAKES 5.7 N')
('US1MNBK0011', 46.7703, -96.0747, 'LAKE PARK 7.9 S')
('US1MNBM0003', 47.5417, -94.7207, 'BEMIDJI 8.3 ENE')
('US1MNBM0007', 47.8829, -94.5026, 'KELLIHER 5.0 SSW')
('US1MNBM0009', 47.489, -94.8157, 'BEMIDJI 2.9 E')
('US1MNBM0010', 47.4658, -94.9477, 'BEMIDJI 3.5 WSW')
('US1MNBM0011', 47.5494, -94.8567, 'BEMIDJI 4.8 NNE')
('US1MNBM0012', 47.5798, -94.6824, 'TURTLE RIVER 3.6 E')
('US1MNBM0014', 47.4907, -95.1218, 'SOLWAY 2.1 S')
('US1MNBM0015', 47.5204, -94.7212, 'BEMIDJI 7.8 ENE')
('US1MNBN0004', 45.6269, -94.1953, 'SARTELL 0.7 ENE')
('US1MNBN0005', 45.6667, -93.8868, 'FOLEY 1.1 ENE')
('US1MNBU0002', 43.975, -93.9586, 'MAPLETON 3.5 N')
('US1MNBU0003', 44.1731, -93.9766, 'MANKATO 0.2 NNE')
('US1MNBU0006', 44.1854, -94.1591, 'LAKE CRYSTAL 6.3 NNE')
('US1MNBU0008', 44.1502, -94.0212, 'MANKATO 2.6 WSW')
('US1MNBU0010', 44.1488, -94.017, 'MANKATO 2.4 SW')
('US1MNBU0011', 44.1536, -94.0312, 'MANKATO 2.9 WSW')
('US1MNBU0018', 44.119, -93.9299, 'MANKATO 4.3 SE')
('US1MNBU0023', 44.1571, -93.9538, 'MANKATO 1.5 SE')
('US1MNBU0026', 44.2148, -93.8067, 'MADISON LAKE 0.8 NNE')
('US1MNBW0001', 44.2612, -94.9922, 'SPRINGFIELD 1.7 NNW')
('US1MNBW0002', 44.3217, -94.4771, 'NEW ULM 0.8 NW')
('US1MNBW0006', 44.1112, -94.798, 'COMFREY 5.2 E')
('US1MNBW0007', 44.2402, -94.9803, 'SPRINGFIELD 0.2 NNE')
('US1MNBW0008', 44.1511, -94.7852, 'COMFREY 6.5 ENE')
('US1MNBW0011', 44.2914, -94.7373, 'SLEEPY EYE 0.8 SW')
('US1MNCD0001', 44.181, -95.3273, 'LAMBERTON 4.6 SW')
('US1MNCD0002', 44.0958, -94.9257, 'COMFREY 1.6 SW')
('US1MNCG0001', 45.7169, -92.9257, 'RUSH CITY 2.8 NE')
('US1MNCG0003', 45.3586, -92.8792, 'CHISAGO CITY 1.8 ENE')
('US1MNCG0005', 45.6817, -93.0409, 'RUSH CITY 3.6 W')
('US1MNCG0007', 45.395, -93.0181, 'STACY 1.4 NW')
('US1MNCG0008', 45.3224, -92.9734, 'WYOMING 1.0 S')
('US1MNCG0009', 45.3085, -92.8004, 'LINDSTROM 5.9 SSE')
('US1MNCG0010', 45.3203, -92.955, 'WYOMING 1.5 SE')
('US1MNCG0011', 45.3318, -92.8982, 'CHISAGO CITY 1.3 SSE')
('US1MNCG0016', 45.5312, -92.9711, 'NORTH BRANCH 1.3 NNW')
('US1MNCG0019', 45.6647, -93.0889, 'STANCHFIELD 4.5 E')
('US1MNCG0020', 45.3203, -92.955, 'WYOMING 1.5 SE')
('US1MNCG0021', 45.401, -92.981, 'STACY 1.4 NNE')
('US1MNCG0023', 45.2993, -92.8695, 'CHISAGO CITY 3.9 SSE')
('US1MNCG0025', 45.4884, -92.9661, 'NORTH BRANCH 1.8 S')
('US1MNCG0027', 45.5005, -93.0054, 'NORTH BRANCH 2.4 WSW')
('US1MNCG0028', 45.6363, -93.0906, 'STANCHFIELD 4.9 ESE')
('US1MNCG0029', 45.3882, -92.8272, 'CENTER CITY 0.8 WSW')
('US1MNCK0002', 47.8398, -89.9678, 'HOVLAND 0.4 SW')
('US1MNCK0003', 47.6239, -90.761, 'TOFTE 4.9 NE')
('US1MNCK0006', 47.7487, -90.4376, 'GRAND MARAIS 4.4 W')
('US1MNCK0007', 47.8392, -89.9712, 'HOVLAND 0.1 NE')
('US1MNCK0015', 47.8542, -90.0181, 'HOVLAND 2.4 WNW')
('US1MNCK0018', 47.7446, -90.438, 'GRAND MARAIS 4.4 WSW')
('US1MNCL0002', 47.2889, -95.3283, 'BAGLEY 16.6 SSE')
('US1MNCN0001', 46.7078, -92.3279, 'CARLTON 5.6 NE')
('US1MNCN0005', 46.668, -92.5901, 'CLOQUET 5.9 SW')
('US1MNCN0006', 46.5113, -92.7391, 'BARNUM 2.4 W')
('US1MNCN0012', 46.6029, -92.682, 'MAHTOWA 3.2 NW')
('US1MNCN0017', 46.6185, -92.3285, 'WRENSHALL 2.6 E')
('US1MNCN0018', 46.5879, -92.3823, 'WRENSHALL 2.3 S')
('US1MNCN0019', 46.7186, -92.3476, 'ESKO 1.1 NE')
('US1MNCN0023', 46.4852, -92.3403, 'WRENSHALL 9.7 SSE')
('US1MNCP0001', 44.9453, -95.7203, 'MONTEVIDEO 0.4 SSW')
('US1MNCP0002', 44.923, -95.3877, 'CLARA CITY 2.8 SSW')
('US1MNCP0005', 44.9816, -95.7189, 'MONTEVIDEO 2.2 N')
('US1MNCS0001', 46.4025, -94.4631, 'PILLAGER 5.1 N')
('US1MNCS0002', 47.0922, -93.9195, 'REMER 2.5 N')
('US1MNCS0003', 46.8041, -94.3931, 'BACKUS 5.8 ESE')
('US1MNCS0006', 46.4094, -94.3288, 'EAST GULL LAKE 1.6 NE')
('US1MNCS0008', 46.8887, -94.3213, 'LONGVILLE 8.5 SW')
('US1MNCS0011', 46.9152, -94.2947, 'LONGVILLE 6.2 SW')
('US1MNCS0014', 46.7516, -94.361, 'PINE RIVER 2.7 NE')
('US1MNCS0015', 46.6451, -94.4329, 'PINE RIVER 5.6 SSW')
('US1MNCS0016', 47.0329, -94.4469, 'WALKER 7.6 ESE')
('US1MNCS0018', 46.9558, -94.3727, 'HACKENSACK 7.0 ENE')
('US1MNCV0001', 44.7573, -93.6416, 'CARVER 0.7 W')
('US1MNCV0008', 44.9663, -93.8489, 'WATERTOWN 0.5 NNW')
('US1MNCV0011', 44.8513, -93.6569, 'VICTORIA 1.0 S')
('US1MNCV0012', 44.8536, -93.5863, 'CHANHASSEN 1.2 W')
('US1MNCV0014', 44.8467, -93.5456, 'CHANHASSEN 1.0 ESE')
('US1MNCV0017', 44.7762, -93.9065, 'NORWOOD YOUNG AMERICA 0.8 ENE')
('US1MNCV0022', 44.8567, -93.6864, 'VICTORIA 1.6 WSW')
('US1MNCV0025', 44.8147, -93.5752, 'CHASKA 1.7 E')
('US1MNCV0027', 44.8898, -93.6099, 'CHANHASSEN 3.4 NW')
('US1MNCV0028', 44.8148, -93.597, 'CHASKA 0.6 E')
('US1MNCW0003', 46.4238, -94.3033, 'BRAINERD 6.9 NW')
('US1MNCW0004', 46.6177, -94.1909, 'BREEZY POINT 1.6 ENE')
('US1MNCW0005', 46.4832, -93.8308, 'AITKIN 6.8 WSW')
('US1MNCW0008', 46.3856, -93.9572, 'BRAINERD 11.5 E')
('US1MNCW0013', 46.4269, -94.3063, 'BRAINERD 7.1 NW')
('US1MNCW0015', 46.7098, -94.188, 'PINE RIVER 10.0 E')
('US1MNCW0016', 46.5585, -94.1172, 'TROMMALD 6.1 NW')
('US1MNCW0017', 46.746, -93.9616, 'EMILY 1.0 SSE')
('US1MNCW0019', 46.3608, -94.2838, 'BAXTER 1.3 N')
('US1MNCW0022', 46.1809, -94.3651, 'FORT RIPLEY 0.8 N')
('US1MNCW0029', 46.25, -94.1458, 'BRAINERD 7.7 SSE')
('US1MNCY0001', 46.8877, -96.748, 'MOORHEAD 2.0 N')
('US1MNCY0003', 46.7635, -96.22, 'HAWLEY 9.1 SSE')
('US1MNCY0006', 46.8293, -96.7832, 'MOORHEAD 2.8 SW')
('US1MNCY0010', 46.9445, -96.7794, 'MOORHEAD 6.2 NNW')
('US1MNCY0011', 46.8836, -96.7134, 'DILWORTH 0.8 WNW')
('US1MNCY0012', 46.9046, -96.6314, 'GLYNDON 3.3 NW')
('US1MNCY0017', 46.977, -96.2618, 'HITTERDAL 0.2 WSW')
('US1MNCY0018', 46.6408, -96.2309, 'BARNESVILLE 8.8 E')
('US1MNDD0003', 44.0504, -92.7214, 'MANTORVILLE 1.9 ESE')
('US1MNDD0004', 43.9751, -92.7183, 'KASSON 4.3 SSE')
('US1MNDD0010', 44.0098, -92.9856, 'CLAREMONT 2.5 SSE')
('US1MNDD0011', 44.0365, -92.9493, 'CLAREMONT 2.5 ESE')
('US1MNDD0014', 43.8864, -92.8459, 'HAYFIELD 0.3 SSE')
('US1MNDK0001', 44.7148, -92.8387, 'HASTINGS 1.4 SSE')
('US1MNDK0002', 44.7674, -93.2919, 'BURNSVILLE 0.6 WNW')
('US1MNDK0007', 44.815, -93.1981, 'EAGAN 1.7 W')
('US1MNDK0008', 44.8554, -93.0634, 'INVER GROVE HEIGHTS 2.1 N')
('US1MNDK0011', 44.7608, -93.13, 'ROSEMOUNT 3.3 WNW')
('US1MNDK0012', 44.7836, -93.2012, 'EAGAN 2.9 SW')
('US1MNDK0014', 44.8344, -93.0358, 'INVER GROVE HEIGHTS 1.3 ENE')
('US1MNDK0015', 44.7914, -93.2304, 'BURNSVILLE 3.0 NE')
('US1MNDK0016', 44.7514, -93.1936, 'ROSEMOUNT 6.3 W')
('US1MNDK0017', 44.6481, -93.2677, 'LAKEVILLE 2.2 SSW')
('US1MNDK0020', 44.6443, -93.2655, 'LAKEVILLE 2.4 SSW')
('US1MNDK0021', 44.8819, -93.0352, 'SOUTH SAINT PAUL 0.5 SE')
('US1MNDK0022', 44.6365, -93.1577, 'FARMINGTON 1.5 SSE')
('US1MNDK0023', 44.7182, -93.121, 'ROSEMOUNT 3.3 SW')
('US1MNDK0024', 44.7129, -92.8573, 'HASTINGS 1.3 S')
('US1MNDK0025', 44.7788, -93.1453, 'EAGAN 2.8 SSE')
('US1MNDK0026', 44.6965, -93.2577, 'LAKEVILLE 1.3 NNW')
('US1MNDK0027', 44.8026, -93.0819, 'INVER GROVE HEIGHTS 1.9 SW')
('US1MNDK0029', 44.6372, -93.2166, 'LAKEVILLE 3.3 SSE')
('US1MNDK0031', 44.6911, -93.2938, 'LAKEVILLE 2.3 WNW')
('US1MNDK0032', 44.4722, -93.1702, 'NORTHFIELD 1.1 NNW (126)')
('US1MNDK0033', 44.8062, -93.1771, 'EAGAN 1.0 SW')
('US1MNDK0034', 44.6407, -93.1432, 'FARMINGTON 1.7 SE')
('US1MNDK0035', 44.7124, -92.8618, 'HASTINGS 1.4 SSW')
('US1MNDK0036', 44.7248, -93.2445, 'APPLE VALLEY 2.6 SW')
('US1MNDK0039', 44.7418, -93.1821, 'APPLE VALLEY 1.0 ESE')
('US1MNDK0041', 44.8764, -93.1236, 'MENDOTA HEIGHTS 0.9 ESE')
('US1MNDK0043', 44.7626, -93.1803, 'APPLE VALLEY 1.5 NE')
('US1MNDK0044', 44.7208, -93.1497, 'ROSEMOUNT 4.5 WSW')
('US1MNDK0046', 44.741, -92.8698, 'HASTINGS 1.0 NW')
('US1MNDK0047', 44.843, -93.0314, 'INVER GROVE HEIGHTS 1.9 NE')
('US1MNDK0049', 44.6569, -93.2839, 'LAKEVILLE 2.1 SW')
('US1MNDK0051', 44.7579, -93.2567, 'BURNSVILLE 1.2 ESE')
('US1MNDK0053', 44.7042, -93.1846, 'LAKEVILLE 3.8 ENE')
('US1MNDK0054', 44.6301, -93.1483, 'FARMINGTON 2.1 SSE')
('US1MNDK0055', 44.9009, -93.0997, 'WEST SAINT PAUL 0.7 W')
('US1MNDK0056', 44.8025, -93.2093, 'EAGAN 2.4 WSW')
('US1MNDK0063', 44.4835, -93.1284, 'NORTHFIELD 2.4 NE')
('US1MNDK0067', 44.7504, -93.1502, 'ROSEMOUNT 4.1 W')
('US1MNDK0068', 44.6268, -93.1389, 'FARMINGTON 2.6 SE')
('US1MNDK0069', 44.73, -93.1373, 'ROSEMOUNT 3.7 WSW')
('US1MNDK0070', 44.8432, -93.179, 'EAGAN 2.0 NNW')
('US1MNDK0071', 44.7063, -93.2375, 'LAKEVILLE 2.1 NNE')
('US1MNDK0073', 44.7125, -93.2304, 'LAKEVILLE 2.6 NNE')
('US1MNDK0079', 44.8147, -93.0895, 'INVER GROVE HEIGHTS 1.6 WSW')
('US1MNDK0082', 44.7838, -93.0971, 'INVER GROVE HEIGHTS 3.4 SSW')
('US1MNDK0083', 44.7213, -93.2929, 'BURNSVILLE 3.1 SSW')
('US1MNDK0087', 44.804, -93.1273, 'EAGAN 2.0 ESE')
('US1MNDK0089', 44.5893, -92.8649, 'CANNON FALLS 5.6 NNE')
('US1MNDK0091', 44.7343, -92.8757, 'HASTINGS 1.1 W')
('US1MNDK0092', 44.8878, -93.1232, 'MENDOTA HEIGHTS 0.9 ENE')
('US1MNDK0095', 44.7506, -93.1326, 'ROSEMOUNT 3.3 W')
('US1MNDK0096', 44.6458, -93.0757, 'HAMPTON 4.4 NW')
('US1MNDK0104', 44.7446, -92.8804, 'HASTINGS 1.6 NW')
('US1MNDS0001', 45.9211, -95.3797, 'ALEXANDRIA 3.0 N')
('US1MNDS0003', 46.0487, -95.4333, 'MILTONA 6.7 W')
('US1MNDS0004', 45.8382, -95.4838, 'ALEXANDRIA 6.0 WSW')
('US1MNDS0005', 45.9677, -95.6025, 'BRANDON 0.4 WNW')
('US1MNDS0006', 45.8333, -95.6043, 'KENSINGTON 5.9 NE')
('US1MNDS0008', 45.8915, -95.3438, 'ALEXANDRIA 1.7 ENE')
('US1MNDS0009', 45.8783, -95.3827, 'ALEXANDRIA 0.5 W')
('US1MNDS0012', 45.8595, -95.3092, 'ALEXANDRIA 3.3 ESE')
('US1MNDS0015', 46.0031, -95.6027, 'EVANSVILLE 4.0 E')
('US1MNFM0001', 43.7879, -92.0266, 'CHATFIELD 9.0 ESE')
('US1MNFM0003', 43.6392, -92.4299, 'OSTRANDER 1.7 N')
('US1MNFM0004', 43.664, -92.0801, 'PRESTON 0.6 SSE')
('US1MNFM0005', 43.6886, -91.9037, 'WHALAN 3.3 SSE')
('US1MNFM0006', 43.613, -92.4251, 'OSTRANDER 0.2 ESE')
('US1MNFM0007', 43.713, -92.0518, 'PRESTON 3.2 NNE')
('US1MNFM0009', 43.8388, -92.1991, 'CHATFIELD 0.7 SW')
('US1MNFM0010', 43.7434, -92.3065, 'WYKOFF 3.1 NW')
('US1MNFN0001', 43.5535, -93.3176, 'GLENVILLE 2.3 SW')
('US1MNFN0002', 43.6547, -93.3625, 'ALBERT LEA 0.1 ENE')
('US1MNFN0003', 43.7596, -93.3303, 'CLARKS GROVE 0.3 SW')
('US1MNFN0004', 43.6354, -93.3618, 'ALBERT LEA 1.3 S')
('US1MNFN0005', 43.638, -93.385, 'ALBERT LEA 1.6 SW')
('US1MNFT0005', 43.637, -94.0891, 'BLUE EARTH 0.6 ESE')
('US1MNFT0006', 43.5212, -94.0867, 'ELMORE 1.0 N')
('US1MNGH0001', 44.5377, -92.5377, 'RED WING 4.4 SE')
('US1MNGH0002', 44.2767, -92.9913, 'KENYON 0.4 NW')
('US1MNGH0003', 44.456, -92.2907, 'LAKE CITY 1.2 NNW')
('US1MNGH0004', 44.3425, -92.9792, 'NERSTRAND 4.2 E')
('US1MNGH0007', 44.4955, -92.6111, 'RED WING 6.0 S')
('US1MNGH0008', 44.5333, -92.8746, 'CANNON FALLS 2.0 NE')
('US1MNGH0009', 44.3249, -92.6534, 'ZUMBROTA 2.3 NNE')
('US1MNGH0011', 44.2567, -92.781, 'WANAMINGO 3.2 S')
('US1MNGH0012', 44.2362, -92.7644, 'PINE ISLAND 6.4 WNW')
('US1MNGH0015', 44.4039, -93.0382, 'DENNISON 0.4 SSE')
('US1MNGH0016', 44.5495, -92.5555, 'RED WING 3.2 SE')
('US1MNGH0017', 44.3021, -92.6751, 'ZUMBROTA 0.5 N')
('US1MNGH0018', 44.4112, -92.8966, 'CANNON FALLS 7.1 S')
('US1MNGH0019', 44.4013, -92.6252, 'GOODHUE 0.0 NNE')
('US1MNGH0021', 44.577, -92.7046, 'WELCH 1.8 ENE')
('US1MNGH0022', 44.5635, -92.6244, 'RED WING 1.6 SW')
('US1MNGH0023', 44.5041, -92.9067, 'CANNON FALLS 0.7 SSW')
('US1MNGH0027', 44.4986, -92.315, 'LAKE CITY 4.4 NNW')
('US1MNGH0028', 44.5087, -92.8953, 'CANNON FALLS 0.5 SE')
('US1MNGH0029', 44.532, -92.6654, 'RED WING 4.6 SW')
('US1MNGR0002', 45.7773, -95.7626, 'KENSINGTON 3.2 W')
('US1MNGR0004', 45.7846, -95.7804, 'KENSINGTON 4.1 W')
('US1MNGR0007', 46.053, -95.9551, 'ELBOW LAKE 4.5 NNE')
('US1MNGR0008', 45.8636, -95.7971, 'HOFFMAN 2.2 NNW')
('US1MNGR0011', 45.8008, -95.8575, 'HOFFMAN 4.0 WSW')
('US1MNHB0003', 47.2379, -94.8104, 'LAPORTE 3.0 WNW')
('US1MNHN0003', 44.8717, -93.3055, 'RICHFIELD 1.2 WSW')
('US1MNHN0006', 44.9829, -93.5736, 'LONG LAKE 0.2 WSW')
('US1MNHN0008', 45.0269, -93.2346, 'SAINT ANTHONY 0.9 WNW')
('US1MNHN0009', 45.0039, -93.2895, 'MINNEAPOLIS 3.0 NNW')
('US1MNHN0014', 44.9145, -93.6992, 'MINNETRISTA 1.5 SSE')
('US1MNHN0015', 44.8483, -93.4564, 'EDEN PRAIRIE 0.2 ESE')
('US1MNHN0016', 44.8297, -93.5028, 'EDEN PRAIRIE 2.5 WSW')
('US1MNHN0017', 44.8294, -93.5201, 'EDEN PRAIRIE 3.3 WSW')
('US1MNHN0019', 44.8783, -93.3789, 'EDINA 1.3 SW')
('US1MNHN0020', 45.0364, -93.3642, 'CRYSTAL 0.2 WSW')
('US1MNHN0022', 44.9289, -93.3163, 'MINNEAPOLIS 3.3 SW')
('US1MNHN0025', 44.9817, -93.2783, 'MINNEAPOLIS TARGET FIELD')
('US1MNHN0028', 44.91, -93.289, 'MINNEAPOLIS 3.8 SSW')
('US1MNHN0030', 45.0406, -93.4195, 'PLYMOUTH 2.4 ENE')
('US1MNHN0031', 45.1226, -93.4579, 'MAPLE GROVE 1.0 NNE')
('US1MNHN0032', 44.9067, -93.3192, 'MINNEAPOLIS 4.6 SSW')
('US1MNHN0033', 45.2443, -93.5115, 'DAYTON 0.4 NE')
('US1MNHN0034', 45.0094, -93.3411, 'GOLDEN VALLEY 1.6 NNE')
('US1MNHN0035', 44.9408, -93.2169, 'MINNEAPOLIS 2.9 ESE')
('US1MNHN0036', 44.9284, -93.4755, 'MINNETONKA 0.7 WSW')
('US1MNHN0037', 45.0109, -93.4577, 'PLYMOUTH 0.8 SSE')
('US1MNHN0038', 44.9533, -93.3653, 'SAINT LOUIS PARK 0.3 N')
('US1MNHN0039', 45.093, -93.7359, 'ROCKFORD 0.5 NE')
('US1MNHN0040', 44.9225, -93.5368, 'DEEPHAVEN 0.8 SW')
('US1MNHN0041', 44.9228, -93.7198, 'MINNETRISTA 1.0 SSW')
('US1MNHN0042', 44.8451, -93.4171, 'EDEN PRAIRIE 2.1 E')
('US1MNHN0044', 44.9111, -93.2276, 'MINNEAPOLIS 4.1 SSE')
('US1MNHN0045', 44.8829, -93.2583, 'RICHFIELD 1.2 ENE')
('US1MNHN0047', 44.8665, -93.5004, 'EDEN PRAIRIE 2.3 WNW')
('US1MNHN0048', 45.0638, -93.4947, 'PLYMOUTH 3.3 NNW')
('US1MNHN0049', 45.1148, -93.414, 'MAPLE GROVE 2.4 E')
('US1MNHN0050', 45.0125, -93.4079, 'PLYMOUTH 2.7 ESE')
('US1MNHN0051', 45.087, -93.5243, 'CORCORAN 3.3 ESE')
('US1MNHN0052', 45.1593, -93.3576, 'CHAMPLIN 1.8 ESE')
('US1MNHN0053', 45.1984, -93.4813, 'DAYTON 3.4 SSE')
('US1MNHN0055', 45.0033, -93.3901, 'GOLDEN VALLEY 1.8 WNW')
('US1MNHN0057', 45.129, -93.4565, 'MAPLE GROVE 1.4 NNE')
('US1MNHN0058', 45.1585, -93.3653, 'CHAMPLIN 1.5 ESE (118)')
('US1MNHN0060', 45.0324, -93.4104, 'PLYMOUTH 2.6 ENE (152)')
('US1MNHN0061', 44.8457, -93.4549, 'EDEN PRAIRIE 0.3 SE')
('US1MNHN0062', 45.162, -93.414, 'CHAMPLIN 1.3 WSW')
('US1MNHN0064', 45.0195, -93.3379, 'CRYSTAL 1.7 SE')
('US1MNHN0065', 45.0083, -93.2363, 'MINNEAPOLIS 2.4 NE')
('US1MNHN0066', 44.8137, -93.3086, 'BLOOMINGTON 1.2 SSE')
('US1MNHN0072', 45.1395, -93.4207, 'MAPLE GROVE 2.9 NE')
('US1MNHN0074', 45.1931, -93.404, 'CHAMPLIN 1.7 NNW')
('US1MNHN0078', 44.8913, -93.3141, 'RICHFIELD 1.9 WNW')
('US1MNHN0081', 44.9112, -93.4164, 'HOPKINS 1.2 SSW')
('US1MNHN0082', 45.0586, -93.3778, 'CRYSTAL 1.7 NNW')
('US1MNHN0083', 44.9334, -93.6316, 'SPRING PARK 0.2 SSE')
('US1MNHN0084', 45.0349, -93.3127, 'MINNEAPOLIS 4.4 NNW')
('US1MNHN0085', 44.9131, -93.2219, 'MINNEAPOLIS 4.1 SSE')
('US1MNHN0086', 44.8283, -93.404, 'EDEN PRAIRIE 3.1 ESE')
('US1MNHN0088', 44.9846, -93.3744, 'GOLDEN VALLEY 0.8 WSW')
('US1MNHN0089', 44.9154, -93.3585, 'EDINA 1.7 N')
('US1MNHN0090', 44.9172, -93.2329, 'MINNEAPOLIS 3.6 SSE')
('US1MNHN0091', 44.9863, -93.4727, 'PLYMOUTH 2.6 SSW')
('US1MNHN0093', 44.9417, -93.2418, 'MINNEAPOLIS 1.9 SE')
('US1MNHN0099', 44.9247, -93.2494, 'MINNEAPOLIS 2.8 SSE')
('US1MNHN0103', 44.8927, -93.6166, 'SHOREWOOD 2.3 SW')
('US1MNHN0107', 44.9025, -93.2841, 'MINNEAPOLIS 4.2 S')
('US1MNHN0108', 45.0343, -93.2496, 'MINNEAPOLIS 3.6 NNE')
('US1MNHN0110', 44.8687, -93.3394, 'EDINA 1.9 SSE')
('US1MNHN0116', 44.9245, -93.5037, 'MINNETONKA 2.1 WSW')
('US1MNHN0120', 44.9427, -93.2079, 'MINNEAPOLIS 3.2 ESE')
('US1MNHN0125', 44.9043, -93.3179, 'MINNEAPOLIS 4.7 SSW')
('US1MNHN0128', 45.018, -93.3295, 'ROBBINSDALE 0.6 SSE')
('US1MNHN0134', 45.0674, -93.2934, 'BROOKLYN CENTER 1.1 E')
('US1MNHN0141', 44.9144, -93.2603, 'MINNEAPOLIS 3.3 S')
('US1MNHN0144', 45.0465, -93.3458, 'CRYSTAL 0.9 NE')
('US1MNHN0147', 44.9516, -93.3013, 'MINNEAPOLIS 1.8 WSW')
('US1MNHN0148', 45.0665, -93.5181, 'MAPLE GROVE 4.0 SW')
('US1MNHN0150', 45.125, -93.4344, 'MAPLE GROVE 1.8 NE')
('US1MNHN0151', 45.0403, -93.3185, 'MINNEAPOLIS 4.6 NNW')
('US1MNHN0152', 44.9502, -93.3549, 'SAINT LOUIS PARK 0.5 ENE')
('US1MNHN0154', 45.214, -93.4645, 'DAYTON 3.2 SE')
('US1MNHN0155', 44.9203, -93.2247, 'MINNEAPOLIS 3.6 SE')
('US1MNHN0156', 44.9153, -93.4886, 'MINNETONKA 1.8 SW')
('US1MNHN0157', 45.1286, -93.4158, 'MAPLE GROVE 2.7 ENE')
('US1MNHN0160', 44.9553, -93.2176, 'MINNEAPOLIS 2.5 ESE')
('US1MNHN0163', 44.944, -93.2432, 'MINNEAPOLIS 1.7 SE')
('US1MNHN0166', 44.8673, -93.3406, 'EDINA 1.9 SSE')
('US1MNHN0169', 44.951, -93.2175, 'MINNEAPOLIS 2.6 ESE')
('US1MNHN0171', 45.0907, -93.4692, 'MAPLE GROVE 1.3 SSW')
('US1MNHN0174', 44.9346, -93.2826, 'MINNEAPOLIS 2.1 SSW')
('US1MNHN0175', 44.8114, -93.2859, 'BLOOMINGTON 2.0 SE')
('US1MNHN0177', 44.9513, -93.3389, 'SAINT LOUIS PARK 1.3 E')
('US1MNHN0178', 44.9065, -93.2199, 'MINNEAPOLIS 4.5 SSE')
('US1MNHN0180', 44.8936, -93.2963, 'MINNEAPOLIS 5.0 SSW')
('US1MNHN0181', 44.9671, -93.2622, 'MINNEAPOLIS 0.4 NE')
('US1MNHN0184', 44.9946, -93.3724, 'GOLDEN VALLEY 0.7 WNW')
('US1MNHN0185', 45.0044, -93.5881, 'LONG LAKE 1.7 NNW')
('US1MNHN0186', 45.1037, -93.3058, 'BROOKLYN PARK 2.2 ESE')
('US1MNHN0191', 45.1544, -93.4187, 'CHAMPLIN 1.8 SW')
('US1MNHN0192', 44.9656, -93.427, 'MINNETONKA 2.8 NE')
('US1MNHN0198', 44.9052, -93.383, 'EDINA 1.5 NW')
('US1MNHN0200', 44.9463, -93.3652, 'SAINT LOUIS PARK 0.2 S')
('US1MNHN0201', 45.0241, -93.4248, 'PLYMOUTH 1.8 E')
('US1MNHN0203', 44.9317, -93.4164, 'HOPKINS 0.7 NW')
('US1MNHN0206', 45.1169, -93.5064, 'MAPLE GROVE 2.2 WNW')
('US1MNHN0211', 44.9605, -93.6315, 'ORONO 2.0 W')
('US1MNHN0212', 45.1301, -93.5159, 'MAPLE GROVE 3.0 WNW')
('US1MNHN0213', 44.973, -93.6225, 'ORONO 1.7 WNW')
('US1MNHN0214', 44.8973, -93.2454, 'MINNEAPOLIS 4.6 SSE')
('US1MNHN0215', 44.8775, -93.3107, 'RICHFIELD 1.4 W')

# Load the Inventory Table

VII. FORMAT OF "ghcnd-inventory.txt"

------------------------------
Variable   Columns   Type
------------------------------
ID            1-11   Character
LATITUDE     13-20   Real
LONGITUDE    22-30   Real
ELEMENT      32-35   Character
FIRSTYEAR    37-40   Integer
LASTYEAR     42-45   Integer
------------------------------

In [33]:
inventory_file = os.path.join(ghcn.path, ghcn.files['GHCN_INVENTORY'])
inventory_colspecs = [(0,12), (12,21), (21, 31), (31,36), (36,41), (41,45)]
inventory_colnames = ["station_id", "latitude", "longitude", "element", "first_year", "last_year"]
inventory_df = pd.read_fwf(inventory_file, colspecs=inventory_colspecs, header=None,
                          names=inventory_colnames)
inventory_df.head()

    station_id  latitude  longitude element  first_year  last_year
0  ACW00011604   17.1167   -61.7833    TMAX        1949       1949
1  ACW00011604   17.1167   -61.7833    TMIN        1949       1949
2  ACW00011604   17.1167   -61.7833    PRCP        1949       1949
3  ACW00011604   17.1167   -61.7833    SNOW        1949       1949
4  ACW00011604   17.1167   -61.7833    SNWD        1949       1949

In [34]:
# Save our work to this point in .csv files
stations_df.to_csv(os.path.join(ghcn.path, "stations.csv"))
inventory_df.to_csv(os.path.join(ghcn.path, "inventory.csv"))

In [35]:
# Iterate over the rows and add to the table
for row in inventory_df.itertuples():
    inventory = Inventory(station_id = row.station_id,
                          element = row.element,
                          first_year = row.first_year,
                          last_year = row.last_year)
    session.add(inventory)
    session.commit()

# Query the New Database

In [36]:
items = session.query(Inventory.station_id, Inventory.element, Inventory.first_year, Inventory.last_year).limit(5).all()
for item in items:
    print(item)

('ACW00011604', 'TMAX', 1949, 1949)
('ACW00011604', 'TMIN', 1949, 1949)
('ACW00011604', 'PRCP', 1949, 1949)
('ACW00011604', 'SNOW', 1949, 1949)
('ACW00011604', 'SNWD', 1949, 1949)

# Pass Through Queries - SQL statements passed through to the database

In [53]:
sql_query = """
SELECT station_id, first_year, last_year 
FROM inventory
WHERE element == 'SNWD'
ORDER By station_id
"""
query_return = pd.read_sql_query(sql_query, engine)
print(query_return.shape)
query_return.head()

(58166, 3)

    station_id  first_year  last_year
0  ACW00011604        1949       1949
1  ACW00011647        1957       1970
2  AF000040930        1982       1992
3  AFM00040938        1982       2019
4  AFM00040948        1974       2018

In [55]:
sql_query = """
SELECT * FROM stations
WHERE country_id = 'US'
"""
query_return = pd.read_sql_query(sql_query, engine)
print(query_return.shape)
query_return.head()

(60787, 10)

,station_id,latitude,longitude,elevation,country_id,state_id,name,gsn,hcn,wmo
0,US009052008,43.7333,-96.6333,482.0,US,SD,SIOUX FALLS (ENVIRON. CANADA),None,None,NaN
1,US10RMHS145,40.5268,-105.1113,1569.1,US,CO,RMHS 1.6 SSW,None,None,NaN
2,US10adam001,40.5680,-98.5069,598.0,US,NE,JUNIATA 1.5 S,None,None,NaN
3,US10adam002,40.5093,-98.5493,601.1,US,NE,JUNIATA 6.0 SSW,None,None,NaN
4,US10adam003,40.4663,-98.6537,615.1,US,NE,HOLSTEIN 0.1 NW,None,None,NaN

In [61]:
def make_sql_query_string(element, first_year, last_year):
    sql_query = f"SELECT station_id FROM inventory WHERE element = {element} AND first_year >= {first_year} AND last_year <= {last_year}"
    return sql_query

In [64]:
make_sql_query_string("'SNWD'", 1949, 2019)

"SELECT station_id FROM inventory WHERE element = 'SNWD' AND first_year >= 1949 AND last_year <= 2019"

In [66]:
query_return = pd.read_sql_query(make_sql_query_string("'PRCP'", 1970, 2019), engine)
print(query_return.shape)
query_return.head()

(56547, 1)

    station_id
0  AEM00041194
1  AEM00041217
2  AEM00041218
3  AF000040930
4  AFM00040938

In [80]:
from sqlalchemy import and_
t = session.query(
    Inventory.station_id
).filter(Inventory.first_year <= 2010).filter(Inventory.last_year == 2019).filter(Inventory.element == 'SNWD').subquery('t')

query = session.query(Stations).filter(and_(
    Stations.country_id == 'US',
    Stations.state_id == 'MN',
    Stations.station_id == t.c.station_id
)
)

print(query.count())
for item in query:
    print(item.station_id, item.name, item.state.name)

179
US1MNAA0004 SAINT FRANCIS 4.0 E MINNESOTA
US1MNBW0001 SPRINGFIELD 1.7 NNW MINNESOTA
US1MNCN0001 CARLTON 5.6 NE MINNESOTA
US1MNCP0001 MONTEVIDEO 0.4 SSW MINNESOTA
US1MNCS0001 PILLAGER 5.1 N MINNESOTA
US1MNCV0001 CARVER 0.7 W MINNESOTA
US1MNCY0001 MOORHEAD 2.0 N MINNESOTA
US1MNDK0014 INVER GROVE HEIGHTS 1.3 ENE MINNESOTA
US1MNDK0015 BURNSVILLE 3.0 NE MINNESOTA
US1MNGH0003 LAKE CITY 1.2 NNW MINNESOTA
US1MNHN0006 LONG LAKE 0.2 WSW MINNESOTA
US1MNHN0009 MINNEAPOLIS 3.0 NNW MINNESOTA
US1MNHN0014 MINNETRISTA 1.5 SSE MINNESOTA
US1MNHN0017 EDEN PRAIRIE 3.3 WSW MINNESOTA
US1MNHN0019 EDINA 1.3 SW MINNESOTA
US1MNHN0022 MINNEAPOLIS 3.3 SW MINNESOTA
US1MNKB0003 BROOK PARK 9.0 WNW MINNESOTA
US1MNKD0001 BELGRADE 8.0 ESE MINNESOTA
US1MNLY0002 MARSHALL 0.6 S MINNESOTA
US1MNOT0003 BATTLE LAKE 2S MINNESOTA
US1MNPK0002 ERSKINE 7.6 SW MINNESOTA
US1MNRC0001 MONTGOMERY 3.2 ENE MINNESOTA
US1MNRM0002 NORTH SAINT PAUL 1.0 NNW MINNESOTA
US1MNRM0005 ROSEVILLE 1.4 SSE MINNESOTA
US1MNRM0015 ROSEVILLE 2.1 NW MINNESOTA
US1MNSC0002 PRIOR LAKE 2.0 W MINNESOTA
US1MNSE0002 OWATONNA 0.8 E MINNESOTA
US1MNSE0003 ELLENDALE 0.3 SW MINNESOTA
US1MNWR0008 SAINT MICHAEL 1.3 E MINNESOTA
USC00210075 ALBERT LEA 3 SE MINNESOTA
USC00210146 ALTURA 5W MINNESOTA
USC00210157 AMBOY MINNESOTA
USC00210190 ANDOVER 1N MINNESOTA
USC00210252 ARGYLE MINNESOTA
USC00210287 ARTICHOKE LAKE 1 E MINNESOTA
USC00210355 AUSTIN WASTE WTP FACILITY MINNESOTA
USC00210387 BABBITT MINNESOTA
USC00210643 BEMIDJI MINNESOTA
USC00210667 BENSON MINNESOTA
USC00210746 BIG FALLS MINNESOTA
USC00210809 BLACKDUCK MINNESOTA
USC00210855 BLUE EARTH 1S MINNESOTA
USC00210939 BRAINERD MINNESOTA
USC00210981 BRICELYN MINNESOTA
USC00210989 BRIMSON 2S MINNESOTA
USC00211063 BROWNS VALLEY MINNESOTA
USC00211065 BROWNTON WWTP MINNESOTA
USC00211074 BRUNO 7ENE MINNESOTA
USC00211198 CALEDONIA MINNESOTA
USC00211227 CAMBRIDGE 5ESE MINNESOTA
USC00211250 CAMP NORRIS DNR MINNESOTA
USC00211263 CANBY MINNESOTA
USC00211310 CARLOS 2 WSW MINNESOTA
USC00211374 CASS LAKE MINNESOTA
USC00211448 CHANHASSEN WSFO MINNESOTA
USC00211630 CLOQUET MINNESOTA
USC00211691 COLLEGEVILLE ST JOHN'S MINNESOTA
USC00211771 COOK 8NE MINNESOTA
USC00211840 COTTON MINNESOTA
USC00211891 CROOKSTON NW EXP STN MINNESOTA
USC00212023 DASSEL 3SE MINNESOTA
USC00212038 DAWSON MINNESOTA
USC00212088 DELANO MINNESOTA
USC00212146 DETROIT LAKES 12E MINNESOTA
USC00212486 ELGIN 2SSW MINNESOTA
USC00212500 ELK RVR MINNESOTA
USC00212555 ELY 25E MINNESOTA
USC00212576 EMBARRASS MINNESOTA
USC00212645 EVELETH WWTP MINNESOTA
USC00212721 FARIBAULT MINNESOTA
USC00212842 FLOODWOOD 3 NE MINNESOTA
USC00212916 FOSSTON 1 E MINNESOTA
USC00213076 GAYLORD MINNESOTA
USC00213104 GEORGETOWN 1 E MINNESOTA
USC00213282 GRAND MARAIS MINNESOTA
USC00213290 GRAND MEADOW MINNESOTA
USC00213296 GRAND PORTAGE MINNESOTA
USC00213303 GRAND RPDS FOREST LAB MINNESOTA
USC00213311 GRANITE FALLS MINNESOTA
USC00213411 GULL LAKE DAM MINNESOTA
USC00213417 GUNFLINT LAKE 10 NW MINNESOTA
USC00213455 HALLOCK MINNESOTA
USC00213463 HALSTAD MINNESOTA
USC00213520 HARMONY MINNESOTA
USC00213567 HASTINGS DAM 2 MINNESOTA
USC00214008 INDUS 3 W MINNESOTA
USC00214077 ISABELLA 14W MINNESOTA
USC00214093 ISLAND LAKE 4E MINNESOTA
USC00214103 ISLE 12N MINNESOTA
USC00214106 ITASCA UNIV OF MINN MINNESOTA
USC00214176 JORDAN 1SSW MINNESOTA
USC00214191 KABETOGAMA MINNESOTA
USC00214233 KELLIHER MINNESOTA
USC00214373 KIMBALL 3N MINNESOTA
USC00214418 LA CRESCENT DAM 7 MINNESOTA
USC00214438 LAKE CITY MINNESOTA
USC00214453 LAKEFIELD 2NE MINNESOTA
USC00214534 LAKE WILSON MINNESOTA
USC00214546 LAMBERTON SW RSCH & OUTREACH C MINNESOTA
USC00214652 LEECH LAKE MINNESOTA
USC00214692 LESTER PRAIRIE 2S MINNESOTA
USC00214778 LITCHFIELD MINNESOTA
USC00214861 LONG PRAIRIE MINNESOTA
USC00214884 LOWER ST ANTHONY FALLS MINNESOTA
USC00214994 MADISON WWTP MINNESOTA
USC00215204 MARSHALL MINNESOTA
USC00215325 MELROSE MINNESOTA
USC00215392 MILACA MINNESOTA
USC00215400 MILAN 1NW MINNESOTA
USC00215482 MINNEOTA MINNESOTA
USC00215488 MINNESOTA CITY DAM 5 MINNESOTA
USC00215563 MONTEVIDEO 1SW MINNESOTA
USC00215598 MOOSE LAKE 1 SSE MINNESOTA
USC00215615 MORA MINNESOTA
USC00215638 MORRIS W CNTRL RSCH & OUTREACH MINNESOTA
USC00215838 NEW HOPE MINNESOTA
USC00215902 NEW YORK MILLS MINNESOTA
USC00215989 NORTHOME 3S MINNESOTA
USC00216166 ONAMIA RS MINNESOTA
USC00216211 ORR 3E MINNESOTA
USC00216225 ORTONVILLE 1N MINNESOTA
USC00216276 OTTERTAIL MINNESOTA
USC00216287 OWATONNA MINNESOTA
USC00216547 PINE RVR DAM MINNESOTA
USC00216565 PIPESTONE MINNESOTA
USC00216612 POKEGAMA DAM MINNESOTA
USC00216654 PRESTON MINNESOTA
USC00216787 RED LAKE FALLS MINNESOTA
USC00216795 RED LAKE INDIAN AGCY MINNESOTA
USC00216817 RED WING MINNESOTA
USC00216822 RED WING DAM 3 MINNESOTA
USC00216839 REDWOOD FALLS MINNESOTA
USC00216920 RICE MINNESOTA
USC00217011 ROCHESTER AP 2NE MINNESOTA
USC00217020 ROCKFORD MINNESOTA
USC00217107 ROSEMOUNT RSCH & OUTREACH CTR MINNESOTA
USC00217149 ROTHSAY MINNESOTA
USC00217184 RUSHFORD MINNESOTA
USC00217326 ST JAMES WWTP MINNESOTA
USC00217405 ST PETER MINNESOTA
USC00217460 SANDY LAKE DAM LIBBY MINNESOTA
USC00217502 SANTIAGO 3 E MINNESOTA
USC00217602 SHERBURN 3 WSW MINNESOTA
USC00217941 SPRING VALLEY MINNESOTA
USC00218039 STILLWATER 2SW MINNESOTA
USC00218191 TAMARAC WILDLIFE REF MINNESOTA
USC00218227 THEILMAN 1SSW MINNESOTA
USC00218254 THORHULT MINNESOTA
USC00218311 TOWER 2S MINNESOTA
USC00218323 TRACY MINNESOTA
USC00218419 TWO HARBORS MINNESOTA
USC00218421 TWO HARBORS 7NW MINNESOTA
USC00218450 U OF MN ST PAUL MINNESOTA
USC00218477 VADNAIS LAKE MINNESOTA
USC00218552 WABASHA MINNESOTA
USC00218618 WALKER MINNESOTA
USC00218692 WASECA S RSCH & OUTREACH CTR MINNESOTA
USC00218700 WASKISH 4NE MINNESOTA
USC00218808 WELLS MINNESOTA
USC00218907 WHEATON MINNESOTA
USC00218947 WHITE ROCK DAM MINNESOTA
USC00218986 WILD RVR SP MINNESOTA
USC00219001 WILLMAR 5N MINNESOTA
USC00219033 WINDOM MINNESOTA
USC00219046 WINNEBAGO MINNESOTA
USC00219059 WINNIBIGOSHISH DAM MINNESOTA
USC00219072 WINONA DAM 5 A MINNESOTA
USC00219134 WOLF RIDGE ELC MINNESOTA
USC00219170 WORTHINGTON 2 NNE MINNESOTA
USC00219173 WRIGHT 3 E MINNESOTA
USC00219249 ZUMBROTA MINNESOTA
USW00014913 DULUTH MINNESOTA
USW00014918 INTL FALLS INTL AP MINNESOTA
USW00014922 MINNEAPOLIS/ST PAUL AP MINNESOTA
USW00014925 ROCHESTER INTL AP MINNESOTA
USW00014926 ST CLOUD RGNL AP MINNESOTA
USW00014992 REDWOOD FALLS MUNI AP MINNESOTA
USW00094938 BRAINERD CROW WING CO AP MINNESOTA
USW00094967 PARK RAPIDS MUNI AP MINNESOTA

In [ ]:
def find_stations_with(session, element, first_year=None, last_year=None):
    """
    Args:  
        element: one of the elements in the inventory table.
        first_year: the earliest year that must be included.  If None, we do not filter on first_year
        last_year: the latest year that must be included.  If None, we do not filter on last_year
    """
    
    if first_year:
        if last_year: 
            t = session.query(
                Inventory.station_id,
                Inventory.first_year,
                Inventory.last_year
            ).filter(Inventory.first_year <= first_year)\
            .filter(Inventory.last_year >= last_year)\
            .filter(Inventory.element == element).subquery('t')
        else:
            t = session.query(
                Inventory.station_id,
                Inventory.first_year, 
                Inventory.last_year
            ).filter(Inventory.first_year <= first_year)\
            .filter(Inventory.element == element).subquery('t')
    else:
        if last_year: 
            t = session.query(
                Inventory.station_id,
                Inventory.first_year, 
                Inventory.last_year
            ).filter(Inventory.last_year >= last_year)\
            .filter(Inventory.element == element).subquery('t')
        else:
            t = session.query(
                Inventory.station_id,
                Inventory.first_year, 
                Inventory.last_year
            ).filter(Inventory.element == element).subquery('t')
        

    query = session.query(Stations).filter(
        Stations.station_id == t.c.station_id
    )

    return pd.read_sql(query.statement, session.bind)

In [ ]:
rain_1970_1980_df = find_stations_with(session, 'PRCP', 1970, 1980)
print(rain_1970_1980_df.shape)
rain_1970_1980_df.head()

In [ ]:
any_rain_df = find_stations_with(session, 'PRCP')
print(any_rain_df.shape)
any_rain_df.head()